Repository MbusoKotobe/college-management-system, pull requests merged in 2022-04, with the labels that each got.

#91 Create Department Factory.
  .gitignore
  .idea/workspace.xml
  src/main/java/za/ac/cput/entity/Department.java
  src/main/java/za/ac/cput/entity/Faculty.java
  src/main/java/za/ac/cput/factory/DepartmentFactory.java
  src/main/java/za/ac/cput/factory/FacultyFactory.java
Labels: task

#94 Created Course Entity
  .gitignore
  .idea/workspace.xml
  src/main/java/za/ac/cput/entity/Course.java
Labels: task

#98 Implemented Tests.
  .gitignore
  .idea/workspace.xml
  src/main/java/za/ac/cput/entity/Department.java
  src/main/java/za/ac/cput/entity/Faculty.java
  src/main/java/za/ac/cput/factory/FacultyFactory.java
  src/main/java/za/ac/cput/repository/DepartmentRepositoryImpl.java
  src/main/java/za/ac/cput/repository/FacultyRepositoryImpl.java
  src/main/java/za/ac/cput/repository/IDepartmentRepository.java
  src/main/java/za/ac/cput/repository/IFacultyRepository.java
  src/test/java/za/ac/cput/factory/DepartmentFactoryTest.java
  src/test/java/za/ac/cput/factory/FacultyFactoryTest.java
  src/test/java/za/ac/cput/repository/DepartmentRepositoryImplTest.java
  src/test/java/za/ac/cput/repository/DepartmentRepositoryTest.java
  src/test/java/za/ac/cput/repository/FacultyRepositoryImplTest.java
Labels: test

#101 added and implemented Course and CourseModule factory, repository and ran relevant tests.
  .gitignore
  .idea/workspace.xml
  src/main/java/za/ac/cput/entity/CourseModule.java
  src/main/java/za/ac/cput/factory/CourseFactory.java
  src/main/java/za/ac/cput/factory/CourseModuleFactory.java
  src/main/java/za/ac/cput/repository/CourseModuleRepositoryImpl.java
  src/main/java/za/ac/cput/repository/CourseRepositoryImpl.java
  src/main/java/za/ac/cput/repository/ICourseModuleRepository.java
  src/main/java/za/ac/cput/repository/ICourseRepository.java
  src/main/java/za/ac/cput/repository/IRepository.java
  src/test/java/za/ac/cput/factory/CourseFactoryTest.java
  src/test/java/za/ac/cput/factory/CourseModuleFactoryTest.java
  src/test/java/za/ac/cput/repository/CourseModuleRepositoryImplTest.java
  src/test/java/za/ac/cput/repository/CourseRepositoryImplTest.java
  uml/ADP_Assignment_Group_1.png
Labels: task, test

#104 added and commiting untracked files
  src/main/java/za/ac/cput/entity/Lecturer.java
  src/main/java/za/ac/cput/entity/LecturerDepartment.java
  src/main/java/za/ac/cput/factory/LecturerDepartmentFactory.java
  src/main/java/za/ac/cput/factory/LecturerFactory.java
  src/main/java/za/ac/cput/repository/ILecturerDepartmentRepository.java
  src/main/java/za/ac/cput/repository/ILecturerRepository.java
  src/main/java/za/ac/cput/repository/LecturerDepartmentRepositoryImpl.java
  src/main/java/za/ac/cput/repository/LecturerRepositoryImpl.java
  src/main/java/za/ac/cput/utility/Utilities.java
  src/test/java/za/ac/cput/factory/LecturerDepartmentFactoryTest.java
  src/test/java/za/ac/cput/factory/LecturerFactoryTest.java
  src/test/java/za/ac/cput/repository/LecturerDepartmentRepositoryImplTest.java
  src/test/java/za/ac/cput/repository/LecturerRepositoryImplTest.java
Labels: task, test

#92 Added StudentDepartment and LectureModule
  src/main/java/za/ac/cput/entity/LectureModule.java
  src/main/java/za/ac/cput/entity/StudentDepartment.java
  src/main/java/za/ac/cput/factory/LectureModuleDepartmentFactory.java
  src/main/java/za/ac/cput/factory/StudentDepartmentFactory.java
  src/main/java/za/ac/cput/repository/ILectureModule.java
  src/main/java/za/ac/cput/repository/IStudentDepartment.java
  src/main/java/za/ac/cput/repository/LectureModuleRepository.java
  src/main/java/za/ac/cput/repository/StudentDepartmentRepository.java
  src/test/java/za/ac/cput/factory/StudentDepartmentFactoryTest.java
  src/test/java/za/ac/cput/repository/StudentDepartmentRepositoryTest.java
  target/classes/za/ac/cput/entity/Department$Builder.class
  target/classes/za/ac/cput/entity/Faculty$Builder.class
  target/classes/za/ac/cput/repository/DepartmentRepositoryImpl.class
  target/classes/za/ac/cput/repository/FacultyRepositoryImpl.class
  target/classes/za/ac/cput/repository/IDepartmentRepository.class
  target/classes/za/ac/cput/repository/IFacultyRepository.class
Labels: task

#105 Revert "Added StudentDepartment and LectureModule"
  src/main/java/za/ac/cput/entity/LectureModule.java
  src/main/java/za/ac/cput/entity/StudentDepartment.java
  src/main/java/za/ac/cput/factory/LectureModuleDepartmentFactory.java
  src/main/java/za/ac/cput/factory/StudentDepartmentFactory.java
  src/main/java/za/ac/cput/repository/ILectureModule.java
  src/main/java/za/ac/cput/repository/IStudentDepartment.java
  src/main/java/za/ac/cput/repository/LectureModuleRepository.java
  src/main/java/za/ac/cput/repository/StudentDepartmentRepository.java
  src/test/java/za/ac/cput/factory/StudentDepartmentFactoryTest.java
  src/test/java/za/ac/cput/repository/StudentDepartmentRepositoryTest.java
  target/classes/za/ac/cput/entity/Department$Builder.class
  target/classes/za/ac/cput/entity/Faculty$Builder.class
  target/classes/za/ac/cput/repository/DepartmentRepositoryImpl.class
  target/classes/za/ac/cput/repository/FacultyRepositoryImpl.class
  target/classes/za/ac/cput/repository/IDepartmentRepository.class
  target/classes/za/ac/cput/repository/IFacultyRepository.class
Labels: task, test
